body{
    background: rgb(36,0,28);
    background: linear-gradient(90deg, rgba(36,0,28,1) 7%, rgba(9,121,121,0.9026961126247374) 61%, rgba(0,212,255,1) 100%);
}
.total{
    display: block;
    margin-top: 15vh;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid black;
    padding: 2rem 3rem;
    font-size: x-large;
}
.btns{
    margin-top: 3rem;
    margin-left: 33vw;
    margin-right: 40vw;
    display: flex;
    /* align-items: center; */
}
.btn1,.btn2,.btn3,.btn4{
    font-size: 1.5rem;
    margin-left: 1rem;
    padding: 1rem 1rem;
    border: 2px solid black;
}
.btn1{
    margin-left: -1rem;
}
.btn4{
    padding: 1rem 2rem;
}